
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 20px 0;
    
    

}
.hamburger-menu{
  display: none;
}
@media screen and (max-width:768px) {
  .hamburger-menu{
    display: flex;
  }
  .header-nav{
    display: none;
  }
}

