.main-blog-information {
    
    background-color: antiquewhite;
     padding-top: 50px;
     padding-bottom: 50px;
}

.main-blog-information-list{
    display: flex;
    justify-content: space-between;
    
}
@media screen and (max-width:768px) {
    .main-blog-information-list{
        display: flex;
        flex-wrap: wrap;
    }
}